{
  "presets": [
    "es2015",
    "stage-3",
    ["env", { "modules": false }]
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      // "presets": ["es2015"],
      "presets": ["es2017"],
      "plugins": [ "istanbul" ]
    }
  }
}
